@{
    ViewData["Title"] = "Error";
}
@section Header {
    <li><a href="/" title="Seattle Super Foods | Home">Home</a></li>
    <li><a href="/Product/products" title="Seattle Super Foods | Products">Products</a></li>
    <li><a href="/Home/About" title="Seattle Super Foods | About">About</a></li>
    <li><a href="/Home/Contact" title="Seattle Super Foods | Contact">Contact</a></li>
    <li><a href="/Cart/index" title="Seattle Super Foods | Cart">Cart</a></li>
}
<div id="page">

    <div id="main-content_noside">

        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>

        <p>We aplogize but please Feel free to give us a call toll-free at <strong>1(800) 414-3610</strong> or <strong>(206) 243-7192</strong>, or <a asp-controller="Home" asp-action="Contact">email us</a></p>
       
    </div>
    <div class="clear"></div>