@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
@section Header {
    <li><a href="/" title="Seattle Super Foods | Home">Home</a></li>
    <li><a href="/Product/products" title="Seattle Super Foods | Products">Products</a></li>
    <li><a href="/Home/About" title="Seattle Super Foods | About">About</a></li>
    <li><a href="/Home/Contact" title="Seattle Super Foods | Contact">Contact</a></li>
    <li><a href="/Cart/index" title="Seattle Super Foods | Cart">Cart</a></li>
}

<div id="page">

    <div id="main-content_noside">
        <h2>@ViewData["Title"]</h2>

        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <h4>Enter your email.</h4>
            <hr />
            <div asp-validation-summary="All"></div>
            <p>
                <label asp-for="Email" class="col-md-2 control-label"></label>

                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>

            </p>
            <p>

                <button type="submit">Submit</button>

            </p>
        </form>

    </div>
    <div class="clear"></div>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
