@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}
@section Header {
    <li><a href="/" title="Seattle Super Foods | Home">Home</a></li>
    <li><a href="/Product/products" title="Seattle Super Foods | Products">Products</a></li>
    <li><a href="/Home/About" title="Seattle Super Foods | About">About</a></li>
    <li><a href="/Home/Contact" title="Seattle Super Foods | Contact">Contact</a></li>
    <li><a href="/Cart/index" title="Seattle Super Foods | Cart">Cart</a></li>
}

<div id="page">

    <div id="main-content_noside">
        <h2>@ViewData["Title"].</h2>

        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <h4>Reset your password.</h4>
            <hr />
            <div asp-validation-summary="All"></div>
            <input asp-for="Code" type="hidden" />
            <p>
                <label asp-for="Email"></label>
                
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
               
            </p>
            <p>
                <label asp-for="Password"></label>
                
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
               
            </p>
            <p>
                <label asp-for="ConfirmPassword"></label>
                
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword"></span>
               
            </p>
            <p>
                
                    <button type="submit" class="btn btn-default">Reset</button>
               
            </p>
        </form>

    </div>
    <div class="clear"></div>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
