@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}
@section Header {
    <li><a href="/" title="Seattle Super Foods | Home">Home</a></li>
    <li><a href="/Product/products" title="Seattle Super Foods | Products">Products</a></li>
    <li><a href="/Home/About" title="Seattle Super Foods | About">About</a></li>
    <li><a href="/Home/Contact" title="Seattle Super Foods | Contact">Contact</a></li>
    <li><a href="/Cart/index" title="Seattle Super Foods | Cart">Cart</a></li>
}

<div id="page">

    <div id="main-content_noside">

        <h2>@ViewData["Title"].</h2>

        <form asp-controller="Manage" asp-action="ChangePassword" method="post">
            <h4>Change Password Form</h4>
            <hr />
            <div asp-validation-summary="All"></div>
            <p>
                <label asp-for="OldPassword"></label>

                <input asp-for="OldPassword" />
                <span asp-validation-for="OldPassword"></span>

            </p>
            <p>
                <label asp-for="NewPassword"></label>

                <input asp-for="NewPassword" />
                <span asp-validation-for="NewPassword"></span>

            </p>
            <p>
                <label asp-for="ConfirmPassword"></label>

                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>

            </p>
            <p>
                
                    <button type="submit">Change password</button>

            </p>
        </form>
    </div>
    <div class="clear"></div>

        @section Scripts {
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        }
