@{
    ViewBag.Title = "First Super Foods | Privacy Act Disclosure";
}

@section Header {
    <li><a href="/" title="Seattle Super Foods | Home">Home</a></li>
					<li><a href="/Product/products" title="Seattle Super Foods | Products">Products</a></li>
					<li><a href="/Home/About" title="Seattle Super Foods | About">About</a></li>
					<li><a href="/Home/Contact" title="Seattle Super Foods | Contact">Contact</a></li>
					<li><a href="/Cart/index" title="Seattle Super Foods | Cart">Cart</a></li>
}

<div id="page_about">
		
			
			<div id="main-content_home">
            <h2>Privacy Act Disclosure</h2>
            <p>All personal information obtained by First Super Foods is confidential and is not shared with any outside sources.</p>
			
			</div>
			<div class="clear"></div>
